<!doctype html>
<html>
<head></head>
<body>

<h1>Quora Pie Chart</h1>
<form id="pie">
  <label for="username">Get pie chart for https://www.quora.com/<input type="text" id="username" placeholder="Giordon-Stark" pattern="[a-zA-Z0-9\-]+" title="Must be a valid Quora username" /></label>
</form>
<h2>Many thanks to...</h2>
<ul>
  <li>Mohan Nayaka for kickstarting the pie chart revolution and breaking our shackles</li>
</ul>

This is completely inspired by his work <a href="http://quorastuff.appspot.com/GetSomePie">quorastuff.appspot.com</a> with the Github <a href="https://github.com/mohansn/quorastuff">github:mohansn/quorastuff</a>. The github for this particular heroku app is found at <a href="https://github.com/kratsg/quora-pie-chart">github:kratsg/quora-pie-chart</a>.

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script type="text/javascript">
$('#pie').submit(function(e){
  var username = $('#username').val();
  e.preventDefault();
  window.location = "/pie/"+username+".png";
  return false;
});
</script>

</body>
</html>
